.dashboard-link {
  text-decoration: none;
}

.tl {
  color: black;
}

.tm {
  border: 2px solid #e0e0e0;
  border-radius: 25px;
  font-style: italic;
  color: black;
  text-align: start;
  margin-bottom: 10px;

}

.tmp {
  margin-left: 8px;
}

.card-container:hover .tm {
  border-top: 2px solid #2596be;
  border-bottom: 2px solid #2596be;
  border: 2px solid #007bff;
}

.card-container {
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  border: 2px solid #d2d2d2;
  color: black;
  border-radius: 25px;
  padding: 20px;
  cursor: pointer;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
  z-index: 1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-container:hover {
  transform: scale(1.05);
  color: #2596be;
  text-decoration: underline;
  /* background-color: #e0e0e0; */
  background-color: #f1f1f1;
  /* Increase z-index on hover to bring the card to the front */
  z-index: 2;
  border: 2px solid #007bff;
  /* border: 2px solid black; */
  border-radius: 25px;
}

/* Apply hover effect only to the title, author, and metrics */
.card-container:hover .tl,
.card-container:hover .tm {
  color: #007bff;
  text-decoration: underline;
}